<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
	<!--Строка подключения указана в классах по работе с БД. см. employeesDataSet.Designer.cs-->
    <!--<connectionStrings>
        <add name="DeeplayTestApp.Properties.Settings.employeesConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\olegp\source\repos\DeeplayTestApp\DeeplayTestApp\DB\employees.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>-->
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>